html {
	height:100%;
}

body{
	background-repeat: no-repeat center center;
	background-size: cover;
	height: 100%;
	background-attachment: fixed;
	background-position: top;
	background-image: url('../img/homepic.jpg');
}

main{
	text-align: center;
}

.scroll{
	color: white;
	
}

.scroll p {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
}

#desc{
	width: 100%;
	height: 100%;
	text-align: center;
	color: white;
}

h1.large_title{
	display: block ;
}

.content {
	margin-top: 1600px;
	
}