body {
	background-color: black;
}

.col{
	float:left;
	width: 33.3%;
	height: 94vh;
	/*border: 2px dashed pink;*/
	margin-left: 0px;
	text-align: center;
/*	margin-top: 5px;
	margin-bottom: 5px;*/
	background-color: black;
	padding-top: 10px;
}
/*
.col.ultra{
	margin-right: 5px;
}

.col.edc{
	margin-right: 5px;
}*/

main{
	margin-top: 60px;
	text-align: center;
}

#image_wrapper {
	width:100%;
}

.col a:link, .col a:visited{
	text-decoration:none;
}

.col h1{
	color: black;
	font-weight: bold;
	font-size: 48px;
	margin: 0px;
	padding-bottom:10px;
}

.box1{
	width: 100%;
	height: 800px;
	display:inherit;line-block;
	/*border: 2px dashed rgba(255, 30, 100, .8);*/
	margin-bottom: 1vh;
	padding: 3px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../../img/ultra2.jpg");
	position: relative;
}

.box1 h1 {
	display:none;
	color:white;
	position:relative;
	text-align:center;
   top: 400px;

}


.box1:hover {
	background-image: url("../../img/ultra2.jpg");
	opacity: 0.5;
   filter: alpha(opacity=50); /* For IE8 and earlier */
}

.box1:hover h1 {
   display:inline;
   
}

.box2{
	width: 100%;
	height: 800px;
	display:inherit;line-block;
	/*border: 2px dashed rgba(255, 30, 100, .8);*/
	margin-bottom: 1vh;
	padding: 3px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../../img/edc.jpg");
	position:relative;
}

.box2:hover {
	background-image: url("../../img/edc.jpg");
	opacity: 0.5;
   filter: alpha(opacity=50); /* For IE8 and earlier */
}
.box2 h1 {
	display:none;
	color:white;
	position:relative;
	text-align:center;
   top: 400px;

}


.box2:hover h1 {
   display:inline;
   
}

.box3{
	width: 98%;
	height: 800px;
	display:inherit;line-block;
	/*border: 2px dashed rgba(255, 30, 100, .8);*/
	margin-bottom: 1vh;
	padding: 3px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-image: url("../../img/tomorrowland.jpg");

}

.box3:hover {
	background-image: url("../../img/tomorrowland.jpg");
	opacity: 0.5;
   filter: alpha(opacity=50); /* For IE8 and earlier */
}

.box3 h1 {
	display:none;
	color:white;
	position:relative;
	text-align:center;
   top: 400px;

}

.box3:hover h1 {
   display:inline;
   
}



.page{
	height: 100vh;
	width: 100%;
	text-align: center;
	vertical-align: middle;
	padding-top: 100px;
	clear:both;
}
		

.page.one{
	background: url("../../img/ultra_people.jpg") no-repeat center;
	background-size: cover;
	position: relative;
	/*height:100%;*/
}
.page.one::before{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}

.content {
	/*padding-top:120px;*/
	/*display:none;*/
	width: 60vw;
	height: 700px;
	background-color: blue;
	margin-left: 20vw;
	
}

.content h1 {
	font-size:500%;
	color:red;
	display:none;
}

.content:hover {
	display:inline;
}

.content:hover h1 {
	display:inline;
}


.page.two{
	background: url("../../img/edc_content.jpg") no-repeat center;
	background-size: cover;
	position: relative;
	/*height:100%;*/
}
.page.two::before{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';

}


.page.three{
	background: url("../../img/tomorrowland_content.jpg") no-repeat center;
	background-size: cover;
	position: relative;
	/*height:100%;*/
}
.page.three::before{
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	content: ' ';
}
./*box{
  position: absolute;
  width: 100%;
  text-align: center;
}*/

h1,p{
  color: #fff;
}












